<!doctype html>
<html lang="en">
    <head>
        <title>{{ comic.title }} - 3rd Panel</title>
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
        <style>
        {% include 'styles.jinja2' %}
        </style>
    </head>
    <body>
        <div class="container">
            <div id="page_header" class="row">
                <h1>{{ comic.title }}</h1>
                <a href="rss.xml">RSS</a> &middot; <a href="feed.json">JSON</a>
            </div>

            <div class="row"><hr /></div>

            {% import 'comic_strip.jinja2' as comic_strip_template %}
            {% for comic_strip in comic_strips %}
                <div class="row comic_header">
                    <h3><a href="{{ comic_strip.url }}">
                    {% if comic_strip.title %}
                        {{ comic_strip.title }}
                    {% elif comic_strip.number %}
                        #{{ comic_strip.number }}
                    {% endif %}
                    </a></h3>
                </div>

                {{ comic_strip_template.comic_image(comic_strip) }}
                <hr />
            {% endfor %}
        </div>
    </body>
</html>