body {
    background-color: #ffffff;
}
.comic_image {
    text-align: center;
}
.comic_header {
    text-align: center;
}
.hidden {
    display: none;
}
#page_header {
    margin-bottom: 3em;
}
.alt_text_row {
    margin-top: 1em;
}
.alt_text .text {
    display: none;
}
.alt_text:hover .text {
     display: block;
}
.alt_text .placeholder {
    display: block;
    text-align: center;
}
.alt_text:hover .placeholder {
     display: none;
}